body {
    background-color: hsl(212, 45%, 89%);
    width: 375px;
    height: 667px;
    overflow: auto;
}

.card {
    background-color: hsl(0, 0%, 100%);
    width: 84%;
    height: 75%;
    margin-top: 35%;
    margin-left: 35px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-top: auto;
}

.qr {
    width: 90%;
    height: 55%;
    margin-top: 16px;
    margin-left: 16px;
    border-radius: 12px;
}

h1 {
    color: hsl(218, 44%, 22%);
    font-family: "Outfit";
    font-size: 23px;
    font-weight: 700;
    margin-top: 22px;
    margin-left: 28px;
    line-height: 29px;
}

.h1-first-line {
    margin: 5px;
}                  

p {
    color: hsl(220, 15%, 55%);
    font-family: "Outfit";
    font-size: 15.75px;
    font-weight: 400;
    padding: 2 100px;
    margin-top: 22px;
    margin-left: 28px;
    line-height: 20px;
}

.p-first-line {
    margin: 8px;
}

.p-third-line {
    margin: 80px;
}

@media screen and (min-width: 900px) and (max-width: 1440px) {
    body {
        max-height: 800px;
        overflow-y: auto;
    }

    .card {
        width: 86%;
        height: 75%;
        margin-top: 185px;
        margin-left: 500px;
    }

    .qr {
        height: 58%;
    }

    h1 {
        color: hsl(218, 44%, 22%);
        font-family: "Outfit";
        font-size: 23px;
        font-weight: 700;
        margin-top: 22px;
        margin-left: 34px;
    }
    
    p {
        color: hsl(220, 15%, 55%);
        font-family: "Outfit";
        font-size: 15.75px;
        font-weight: 400;
        margin-top: 16px;
        margin-left: 35px;
        line-height: 20px;
    }
}